{{> header}}

<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-brand">Messages Overview</div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">Configure</a>
                </li>
                <li class="nav-item ml-2">
                    <button class="btn btn-outline-light d-flex align-items-center" data-toggle="modal" data-target="#messageModal">
                        Add message
                        <span class="material-icons ml-2">send</span>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Add message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="height: 300px">
                    <div class="code-editor" id="editor">{
  "data": "1"
}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add message</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="overflow: hidden">
    <div class="row mt-3">
        <div class="col-4" style="height: calc(100vh - 90px); overflow-y: auto">
            <div class="list-group">
                {{#each messages as |message|}}
                    <a href="/messages/{{message.id}}" class="list-group-item list-group-item-action">
                    <span class="d-flex align-items-center">
                        {{#ifCond message.status '===' 'PENDING'}}
                            <span class="material-icons text-primary spinner" style="font-size: 2rem;">autorenew</span>
                        {{/ifCond}}
                        {{#ifCond message.status '===' 'SUCCESS'}}
                            <span class="material-icons text-success" style="font-size: 2rem;">check_circle</span>
                        {{/ifCond}}
                        {{#ifCond message.status '===' 'ERROR'}}
                            <span class="material-icons text-danger" style="font-size: 2rem;">error</span>
                        {{/ifCond}}
                        {{#ifCond message.status '===' 'WAITING'}}
                            <span class="material-icons text-dark" style="font-size: 2rem;">history_toggle_off</span>
                        {{/ifCond}}
                        <div class="ml-2">
                            <div>
                                <small>{{dateFormat message.created_at}}</small>
                            </div>
                            <div>
                                <div>Message name</div>
                            </div>
                            <div>
                                <div class="badge badge-light">{{message.uuid}}</div>
                            </div>
                        </div>
                    </span>
                    </a>
                {{/each}}
            </div>
        </div>
        <div class="col-8" style="height: calc(100vh - 90px); overflow-y: auto">
            <div class="card card-body">
                {{#if message}}
                    {{#ifCond message.status '===' 'PENDING'}}
                        <div class="alert alert-primary">⏲ Message is processing</div>
                    {{/ifCond}}
                    {{#ifCond message.status '===' 'SUCCESS'}}
                        <div class="alert alert-success">✔ Message successfully processed</div>
                    {{/ifCond}}
                    {{#ifCond message.status '===' 'ERROR'}}
                        <div class="alert alert-danger">⚠ Error while processing message</div>
                    {{/ifCond}}
                    {{#ifCond message.status '===' 'WAITING'}}
                        <div class="alert alert-dark">⌛ Message is waiting in the queue</div>
                    {{/ifCond}}

                    <div class="h3 d-flex align-items-center">
                        <div class="ml-2">{{message.uuid}}</div>
                    </div>
                    <hr>

                    <b>Details:</b>
                    <ul class="list-group">
                        <li class="list-group-item">Internal ID: #{{message.id}}</li>
                        <li class="list-group-item">Message ID: {{message.uuid}}</li>
                        <li class="list-group-item">Status: {{message.status}}</li>
                        <li class="list-group-item">
                            Duration:
                            {{#if message.duration}}
                                {{message.duration}}
                            {{else}}
                                N/A
                            {{/if}}
                        </li>
                        <li class="list-group-item">
                            Consumer:
                            {{#if message.consumer}}
                                {{message.consumer}}
                            {{else}}
                                N/A
                            {{/if}}
                        </li>
                        <li class="list-group-item">Created At: {{message.created_at}}</li>
                    </ul>

                    <div class="mt-2">
                        <b>Body:</b>
                        <pre class="bg-light">{{#if message.body}}{{message.body}}{{else}}N/A{{/if}}</pre>
                    </div>

                    <div class="mt-2">
                        <b>Logs:</b>
                        <pre class="bg-light">{{#if message.logs}}{{message.logs}}{{else}}N/A{{/if}}</pre>
                    </div>
                {{else}}
                    <div>Firstly select message</div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{> footer}}
