{{> header}}

{{> navbar}}

<div class="container shadow-lg mt-2" style="overflow: hidden">
    <div class="row mt-3">
        <div class="col-4" style="height: calc(100vh - 90px); overflow-y: auto">
            <div class="list-group">
                {{#each messages as |message|}}
                    <a href="/messages/{{message.id}}" class="list-group-item list-group-item-action {{#ifCond message.id '===' ../messageId}}bg-light{{/ifCond}} ">
                    <div class="d-flex align-items-center">
                        {{#ifCond message.status '===' 'PENDING'}}
                            <span class="material-icons text-primary spinner" style="font-size: 2rem;">autorenew</span>
                        {{/ifCond}}
                        {{#ifCond message.status '===' 'SUCCESS'}}
                            <span class="material-icons text-success" style="font-size: 2rem;">check_circle</span>
                        {{/ifCond}}
                        {{#ifCond message.status '===' 'ERROR'}}
                            <span class="material-icons text-danger" style="font-size: 2rem;">error</span>
                        {{/ifCond}}
                        {{#ifCond message.status '===' 'WAITING'}}
                            <span class="material-icons text-dark" style="font-size: 2rem;">history_toggle_off</span>
                        {{/ifCond}}
                        {{#ifCond message.status '===' 'CANCEL'}}
                            <span class="material-icons text-dark" style="font-size: 2rem;">block</span>
                        {{/ifCond}}
                        <div class="ml-2">
                            <div>
                                <small>{{dateFormat message.created_at}}</small>
                            </div>
                            <div>
                                <div>{{#if message.name}}{{message.name}}{{else}}Message #{{message.id}}{{/if}}</div>
                            </div>
                            <div>
                                <div class="small">{{message.uuid}}</div>
                            </div>
                        </div>
                    </div>
                    </a>
                {{/each}}
            </div>
        </div>
        <div class="col-8" style="height: calc(100vh - 90px); overflow-y: auto">
            <div class="card card-body">
                {{#if message}}
                    {{#ifCond message.status '===' 'PENDING'}}
                        <div class="alert alert-primary shadow">⏲ Message delivered, now is under processing</div>
                    {{/ifCond}}
                    {{#ifCond message.status '===' 'SUCCESS'}}
                        <div class="alert alert-success shadow">✔ Message successfully processed</div>
                    {{/ifCond}}
                    {{#ifCond message.status '===' 'ERROR'}}
                        <div class="alert alert-danger shadow">⚠ Error while processing message</div>
                    {{/ifCond}}
                    {{#ifCond message.status '===' 'WAITING'}}
                        <div class="alert alert-dark shadow">⌛ Message is waiting in the queue</div>
                    {{/ifCond}}
                    {{#ifCond message.status '===' 'CANCEL'}}
                        <div class="alert alert-dark shadow">❌ Message not dequeue in time</div>
                    {{/ifCond}}

                    <div class="h3 d-flex align-items-center">
                        <div class="ml-2">{{message.uuid}}</div>
                    </div>
                    <hr>

                    <b>Details:</b>
                    <ul class="list-group">
                        <li class="list-group-item">Internal ID: #{{message.id}}</li>
                        <li class="list-group-item">Message ID: {{message.uuid}}</li>
                        <li class="list-group-item">Status: {{message.status}}</li>
                        <li class="list-group-item">
                            Processing At:
                            {{#if message.processing_at}}
                                {{dateFormat message.processing_at}}
                            {{else}}
                                N/A
                            {{/if}}
                        </li>
                        <li class="list-group-item">
                            Completed At:
                            {{#if message.completed_at}}
                                {{dateFormat message.completed_at}}
                            {{else}}
                                N/A
                            {{/if}}
                        </li>
                        <li class="list-group-item">Created At: {{dateFormat message.created_at}}</li>
                    </ul>

                    <div class="mt-2">
                        <b>Body:</b>
                        <pre class="bg-light">{{#if message.body}}{{message.body}}{{else}}N/A{{/if}}</pre>
                    </div>

                    <div class="mt-2">
                        <b>Logs:</b>
                        <pre class="bg-light">{{#if message.logs}}{{message.logs}}{{else}}N/A{{/if}}</pre>
                    </div>
                {{else}}
                        <div class="d-flex justify-content-center align-items-center">
                            <h3>👈 Firstly select message</h3>
                        </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{> footer}}
